fastapi
uvicorn[standard]
python-multipart
pandas
numpy
matplotlib
seaborn
networkx
requests
python-dotenv
beautifulsoup4
lxml
pillow
langchain==0.2.14
langchain-core==0.2.19
langchain-google-genai==0.1.3
google-generativeai
openpyxl
pyarrow
tabulate
html5lib
duckdb
pytesseract
playwright
scikit-learn
pdfplumber